<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="clientId" value="" />
    <add key="servicePrincipalPassword" value=""/>
    <add key="subscriptionId" value="" />
    <add key="azureTenantId" value="" />
    <add key="webappName" value="" />
    <add key="resourceGroupName" value="" />
    <add key="IO" value="" /> <!-- value of on is needed to switch on webapp, anything else will switch it off-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>